h1 {
  font-size: 46px;
  font-weight: bold;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 15px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 10px;

  padding-top: 10px;
}

section h1 {
  font-size: 32px;
}
