.calculator {
  max-width: 550px;
  width: 100%;
}

.calculator h4 {
  font-family: "Natural Grotesk", arial, sans-serif;
  font-size: 16px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.calculator-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  'about salary'
  'total salary-adjustments'
  'pension pension'
  'employee-budgets employee-budgets'
  'other-benefits other-benefits';
}

@media (max-width: 1024px) {
  .calculator-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'about'
    'salary'
    'total'
    'salary-adjustments'
    'pension'
    'employee-budgets'
    'other-benefits';
  }
}

.about {
  grid-area: about;
  margin: 24px 0;
}

.salary {
  grid-area: salary;
  margin: 24px 0;
}

.salary-box {
  border: 2px solid var(--color-green);
  padding: 8px 12px;
}

.salary-box span{
  font-size: 48px;
  line-height: 1;
}

.total {
  grid-area: total;
  margin: 24px 0;
}

.total span{
  font-size: 48px;
  white-space:nowrap;
  line-height: 1;
}

.pension {
  grid-area: pension;
}

.employee-budgets {
  grid-area: employee-budgets;
}

.employee-budgets-icon {
  aspect-ratio: 16 / 9;
  max-width: 150px;
}

.other-benefits {
  grid-area: other-benefits;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 64px 0;
  justify-content: center;
}

.benefit-box {
  width: 300px;
  min-width: 300px;
  height: 225px;
  max-width: 300px;
  max-height: 225px;
  color: #fff;
}
.benefit-box:first-of-type {
  padding-left: 12px;
}

.benefit-box:last-of-type {
  padding-right: 12px;
}

.salary-adjustments {
  grid-area: salary-adjustments;
  display: grid;
  margin: 24px 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  'info-top info-top info-top'
  'year-one year-two year-three'
  'info-bottom . .';
}

.year {
  height: 50px;
  border-top: 2px solid#000;
}

.year-one {
  grid-area: year-one;
}
.year-two {
  grid-area: year-two;
}
.year-three {
  grid-area: year-three;
}

.info-top {
  grid-area: info-top;
}
.info-bottom {
  grid-area: info-bottom;
}

/* Education
------------------------------------------------------------------------------*/
.calculator-education-label {
  border-radius: 20px;
  background: #000;
  color: #fff;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  padding-left: 40px;
  padding-right: 15px;
  margin-right: 4px;
  cursor: pointer;
  position: relative;
}

.calculator-education-input {
  cursor: pointer;
  -webkit-appearance: none;
  background-color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;

  border: 2px solid #fff;

  margin: 0 0 0 -28px;
  display: grid;
  place-content: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.calculator-education-input::before {
  background-color: var(--color-green);
  content: "";
  height: 14px;
  border-radius: 50%;
  top: -2px;
  left: 1px;
  cursor: pointer;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  width: 14px;
}

.calculator-education-input:checked::before {
  cursor: pointer;
  transform: scale(1);
}

/* Seniority
------------------------------------------------------------------------------*/
.calculator-seniority-content {
  display: flex;
  align-items: center;
}

.calculator-seniority-content label {
  margin-right: 25px;
}

.calculator-seniority-range {
  -webkit-appearance: none;
  background-color: transparent;
  height: 30px;
  margin: 5px 0;
  width: 250px;
}

.calculator-seniority-range:focus {
  outline: none;
}

.calculator-seniority-range::-webkit-slider-runnable-track {
  animate: 0.2s;
  background: #000;
  border-radius: 3.5px;
  border: 1px solid #000000;
  cursor: pointer;
  height: 7px;
  width: 100%;
}

.calculator-seniority-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--color-green);
  border: 3px solid #000;
  cursor: pointer;
  height: 25px;
  margin-top: -10px;
  width: 50px;
}

.calculator-seniority-range:focus::-webkit-slider-runnable-track {
  background: #000;
}

.calculator-seniority-range::-moz-range-track {
  animate: 0.2s;
  background: #000;
  border-radius: 3.5px;
  border: px solid #000000;
  cursor: pointer;
  height: 7px;
  width: 100%;
}
.calculator-seniority-range::-moz-range-thumb {
  background: var(--color-green);
  border: 3px solid #000000;
  cursor: pointer;
  height: 25px;
  width: 50px;
}


.calculator-salary {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0;
}
