.btn {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn span {
  border-bottom: 2px solid var(--color-green);
}

.btn:hover span {
  border-bottom: none;
}

.btn.btn-icon {
  background: url("../../assets/icons/chevron-right.svg") no-repeat;
  background-position: right 4px top 5px;
  padding-right: 24px;
}

.btn.btn-dark {
  color: #fff;
  background-color: #000;
}

.btn.btn-light {
  color: #000;
  background-color: transparent;
}

.btn.btn-disabled {
  border-color: transparent;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.btn.btn-disabled span {
  border-bottom: none;
}

.btn:hover.btn-disabled {
  border-color: transparent;
}

.btn.btn--noPadding {
  font-size: 16px;
  padding: 0;
}
