.btn {
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
}

.btn span {
  border-bottom: 2px solid var(--color-green);
}

.btn:hover span {
  border-bottom: none;
}

.btn.btn-icon {
  background: url("../../assets/icons/chevron-right.svg") no-repeat;
  background-position: right 4px top 5px;
  padding-right: 24px;
}

.btn.btn-dark {
  color: #fff;
  background-color: #000;
}

.btn.btn-light {
  color: #fff;
  border: 2px solid var(--color-green);
  background-color: #000;
  padding-bottom: 0;
}

.btn:hover.btn-light {
  border-style: dotted;
}

.btn.btn-light span {
  border-bottom: none;
}
