:root {
  --gutter-size: 30px;
  --gutter-size-mobile: 20px;

  --page-max-width: 1400px;
  --page-max-width-narrow: 1100px;

  --spacer-large: 120px;
  --spacer-medium: 60px;
  --color-green: #B6FF9E;
  --color-grey: #e8e7e6;
  --color-dark-grey: #666;

  --color-new-pink: #fad5d5;

  --color-new-green: #35664C;
  --color-new-green-dark: #254333;

}

a {
  color: var(--color-dark-grey);
  text-decoration: underline;
  text-underline-offset: 0.4rem;
}

a:hover {
  color: #000;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}

/* Typography
- `-apple-system` targets the San Francisco font on macOS and iOS.
- `BlinkMacSystemFont` targets the system font on macOS and iOS for Blink-based browsers.
- `Segoe UI` is the default font for Windows.
- `Roboto` is the default font for Android and Chrome OS.
- `Oxygen-Sans` is used on some Linux distributions.
- `Ubuntu` is used on Ubuntu Linux.
- `Cantarell` is used on GNOME.
- `Helvetica Neue` is a fallback for macOS.
- `sans-serif` is the generic fallback font.
------------------------------------------------------------------------------*/
body {
  font-family: "Natural Grotesk Light";
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Natural Grotesk Light";
}

p, blockquote, pre, code {
  /* font-family: "arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  font-family: "Natural Grotesk Light";
}

h1 {
  font-size: 42px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.section-header-headline {
  font-size: 68px;
}

@media (max-width: 660px),
  (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }

  .section-header-headline {
    font-size: 42px;
  }
}

.container {
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

@media (max-width: 660px) {
  .container {
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }
}

/* Footer -------------------------------------------*/
.footer-container {
  background: #000;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 48px;
  grid-template-areas: 
  'navigation logo'
  'contact other';
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-areas: 
    'contact logo'
    'other logo';
  }
}

/* Main -------------------------------------------*/
.main {
  margin-top: 150px;
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

@media (max-width: 660px) {
  .main {
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }
}

/* Section
------------------------------------------------------------------------------*/
.section {
  display: block;
}

.section-hero {
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.section-text-center {
  text-align: center;
}

.section-content {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
}

.section-content.section-content-narrow {
  max-width: var(--page-max-width-narrow);
}

@media (max-width: 660px),
  (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .section-hero {
    font-size: 18px;
  }
}

/* Article
------------------------------------------------------------------------------*/
.article {
  margin-bottom: 35px;
}

/* List
------------------------------------------------------------------------------*/
ul,
ol {
  list-style-type: disc;
  margin-left: 30px;
  margin-bottom: 15px;
}

.list-plain {
  list-style-type: none;
  margin-left: 0;
}

.list-alphabet {
  list-style-type: lower-alpha;
}

/* Menu Button
------------------------------------------------------------------------------*/
#menu-bar {
  background-color: white;
  border: none;
  color: #000;
  cursor: pointer;
  height: 44px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

#menu-bar-logo {
  background-color: var(--color-green);
  background-color: black;
  -webkit-mask: url(/static/logo.svg) no-repeat center;
  mask: url(/static/logo.svg) no-repeat center;
  width: 120px;
  height: 30px;
}

.nav-link {
  border-top: 5px solid transparent;
  text-decoration: none;
  background-image: linear-gradient(var(--color-green),var(--color-green));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  transition: background-size .3s;
  white-space: nowrap;
}

.nav-link.active {
  border-color: var(--color-green);
}

.nav-link:hover {
  background-size: 100% 2px;
}

#menu-button {
  background-color: transparent;
  border-radius: 22px;
  border: none;
  color: #000;
  cursor: pointer;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  width: 140px;

  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

#menu-bar.dark-mode{
  background-color: black;
}

#menu-bar.dark-mode span{
  color: var(--color-green) !important;
}

#menu-bar.dark-mode #menu-bar-logo {
  background-color: var(--color-green);
}

#menu-button.dark-mode {
  color: var(--color-green);
}

#menu-button.dark-mode .menuicon-line {
  background-color: var(--color-green);
}

#menu-bar.grey-mode{
  background-color: var(--color-grey);
}

#menu-bar.grey-mode .nav-link{
  background-image: linear-gradient(var(--color-green),var(--color-green));
}

#menu-bar.green-mode{
  background-color: var(--color-green);
}

#menu-bar.green-mode .nav-link{
  background-image: linear-gradient(black,black);
}

#menu-bar.green-mode .nav-link.active {
    border-color:  black;
}

.theme-dark #menu-button {
  color: #fff;
}

.menubutton-label {
  cursor: pointer;
  font-size: 32px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 44px;
}

.menubutton-label-close {
  color: #000;
  font-size: 32px;
}

.menuicon-label {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  display: block;
  width: 44px;
  height: 44px;
}

.menuicon-line-container {
  position: absolute;
  left: 0;
  top: 7px;
  width: 30px;
  height: 30px;
}

.menuicon-line {
  display: block;
  width: 17px;
  height: 1px;
  background-color: #000;
  border-radius: 0.5px;
  position: absolute;
  left: 6px;
  z-index: 1;
}

.menuicon-line-container {
  transition: transform 0.2s ease-in-out 0s;
}

.menuicon-line-top {
  transition: top 0.2s ease-in-out 0.2s;
  top: 11px;
}

.menuicon-line-bottom {
  transition: bottom 0.2s ease-in-out 0.2s;
  bottom: 11px;
}

.menuicon-line-container-top--active {
  transition: transform 0.2s ease-in-out 0.2s;
  transform: rotate(45deg);
}

.menuicon-line-container-top--active .menuicon-line,
.menuicon-line-container-bottom--active .menuicon-line {
  background-color: #000 !important;
}

.menuicon-line-container-bottom--active {
  transition: transform 0.2s ease-in-out 0.2s;
  transform: rotate(-45deg);
}

.menuicon-line-container-top--active .menuicon-line-top {
  transition: top 0.2s ease-in-out 0s;
  top: 15px;
}

.menuicon-line-container-bottom--active .menuicon-line-bottom {
  transition: bottom 0.2s ease-in-out 0s;
  bottom: 15px;
}

/* Utilities
------------------------------------------------------------------------------*/
.no-scroll {
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.btn {
  padding: 10px 10px 14px 10px;
  text-decoration: none;
}

.btn.btn-black {
  background-color: #000;
  color: var(--color-green);
}

.btn.btn-black.btn-big {
  font-size: 20px;
}

.btn.btn-green {
  color: #000;
  background-color: #b6ff9e;
}

.full-screen-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.button {
  color: white;
  background-color: var(--color-new-green);
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-style: none;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.section-spacer {
  @apply pt-24 pb-24;
}

.section-padding {
  @apply px-16;
}

.section-title {
  @apply text-5xl lg:mb-16 mb-6;
  line-height: 3.5rem;
}

.button-unstyled {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}

.green-link {
  @apply text-2xl text-black;
  text-decoration: none; /* Removes the default underline */
  position: relative; /* Required for positioning the pseudo-element */
}

.green-link::after {
  content: ''; /* Creates an empty pseudo-element */
  position: absolute; /* Positions the pseudo-element relative to the link */
  left: 0;
  right: 0;
  bottom: 5px; /* Adjust this value to position the underline correctly */
  height: 6px; /* Thickness of the underline */
  background-color: var(--color-green); /* Color of the underline */
  display: block;
  z-index: -1;
}

.green-link:hover {
  text-decoration: none; /* Ensures that no default underline appears on hover */
}

.green-link:hover::after {
  background-color: white; /* Changes the underline color on hover */
}

.groteks-normal {
  font-family: "Natural Grotesk";
}

.green-text {
  color: var(--color-new-green);
}