.search-results-container {
}

.search {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 800px;
}

.search-textinput {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.search-results-list {
  background-color: #fff;
  overflow: scroll;

  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  list-style: none;
  margin-left: 0;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  min-height: 75px;
  max-height: 300px;
  z-index: 1000;
}

.search-results-element {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 15px;
  box-sizing: border-box;

  cursor: pointer;
}

.search-results-element:first-child {
  border-top: none;
}

.search-results-element:hover {
  background-color: #efefef;
}

.search-results-element h4 {
  font-size: 14px;
  font-weight: 600;
}

.search-results-element p {
  font-size: 14px;
}
.search-results-element p:last-child {
  margin-bottom: 0;
}

.handbook-mainheader {
  padding-bottom: 135px;
  padding-top: 150px;
}

.handbook-mainheader-content {
  box-sizing: border-box;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  text-align: left;
  font-size: 20px;
}

.handbook-mainheader-content h1 {
  font-size: 70px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.handbook-mainheader-content p {
  max-width: 680px;
}

.handbook-mainheader-metadata {
  font-size: 16px;
  color: #888;
}

.handbook-horizontal-separator {
  background-color: #000;
  display: block;
  height: 2px;
  margin-top: 10px;
  width: 80px;
}

.handbook-wrapper {
  box-sizing: border-box;
  display: grid;
  gap: 25px;
  grid-gap: 25px;
  grid-template-areas: "main sidebar";
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  margin-bottom: 80px;
}

.handbook-sidebar {
  align-self: start;
  grid-area: sidebar;
  padding-top: 75px;
  position: sticky;
  text-align: right;
  top: 0;
  width: 300px;
}

.handbook-sidebar i {
  color: var(--color-green);
  font-weight: bolder;
}

.handbook-sidebar a {
  border-bottom: 2px solid var(--color-green);
  line-height: 32px;
  text-decoration: none;
}

.handbook-sidebar a:hover {
  border-bottom-color: #000;
}

.handbook-sidebar a:hover i {
  color: #000;
}

.handbook-sidebar h3 {
  font-size: 14px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.handbook-sidebar-list {
  margin-bottom: 35px;
}

.handbook-content article {
  margin-bottom: 120px;
}

.handbook-content h2 {
  margin-top: 55px;
}

.handbook-content h3 {
  margin-top: 45px;
}

.handbook-content h4 {
  margin-top: 30px;
}

@media (max-width: 660px),
  (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .handbook-mainheader-content {
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
    width: 100%;
    font-size: 16px;
  }

  .handbook-mainheader-content h1 {
    font-size: 24px;
  }

  .handbook-wrapper {
    display: block;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }

  .handbook-sidebar {
    display: none;
  }
}
