.career-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

.career-calculator-section {
  /* background-color: var(--color-grey); */
  padding-bottom: 55px;
  padding-top: 55px;
}

.career-footer {
  background-color: var(--color-green);
  background-color: #000;
  color: #fff;
  padding-bottom: 55px;
  padding-top: 65px;
}

.career-footer a:hover {
  color: var(--color-grey);
}

.career-footer img {
  width: 250px;
  height: auto;
  margin-right: 35px;
  margin-top: -65px;
  margin-bottom: -55px;
}

.career-footer-content {
  display: flex;
  align-items: center;
}

.career-footer-position {
  color: #888;
}

.career-mainheader {
  margin-top: 150px;
}

.career-mainheader h1 {
  font-size: 90px;
  line-height: 1;
  text-transform: uppercase;
}

.career-mainheader img {
  height: auto;
  margin-left: -150px;
  margin-right: 45px;
  margin-top: 35px;
  width: 550px;
}

.career-mainheader span {
  color: var(--color-green);
  background-color: #000;
  padding: 5px 10px;
}

.career-mainheader-content {
  display: flex;
  justify-content: space-between;
}

.career-mainheader-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.career-opportunity {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #888;
}

.career-opportunity a {
  text-decoration-color: var(--color-green);
  margin: 0 16px;
}
.career-opportunity h4 {
  font-family: "Natural Grotesk", sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: #000;
}

.employee-benefits {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.monthly-benefit {
  font-size: 128px;
  position: relative;
  width: fit-content;
  height: 128px;
}

.about-section {
  position: sticky;
  top: 0;
  padding: 0;
}

.info-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-box-container-right {
  flex-direction: row-reverse;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-green);
  width: 450px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0px #000;

}

@media (max-width: 660px) {
  .career-mainheader h1 {
    font-size: 38px;
  }

  .career-mainheader-content {
    display: block;
  }

  .career-mainheader img {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
  }

  .career-footer-content {
    display: flex;
    flex-direction: column;
  }
}
