/*
------------------------------------------------------------------------------*/
#main-header {
  /* background: #e8e7e6 url("/static/seismograf.svg") no-repeat center; */
  background-color: white;
  height: 100vh;
  width: 100%;
  position: relative;
}

#main-header .pattern {
  line-height: 1;
  bottom: 20px;
  height: 100%;
  aspect-ratio: 9/16;
  left: var(--gutter-size);
  max-width: 75%;
}

#main-header .logo {
  line-height: 1;
  position: absolute;
  aspect-ratio: 16/9;
  width: 300px;
  max-width: 65%;
}

#main-header .main-header-content {
  background-color: var(--color-green);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 35px 35px 35px 105px;
}

#work {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#work > div {
  box-sizing: border-box;
  margin: 70px auto 70px auto;
  max-width: var(--page-max-width);
  padding: 60px var(--gutter-size) 60px var(--gutter-size);
}

/* People
------------------------------------------------------------------------------*/
#people {
  width: 85%;
  margin-left: auto;
  overflow: auto;
}

#people > div {
  box-sizing: border-box;
  margin: 70px auto 70px auto;
  max-width: 1600px;
  padding-top: 60px;
}

.people-header {
  font-size: 22px;
  margin-bottom: 25px;
  max-width: 720px;
  width: 100%;
}

/* Work
------------------------------------------------------------------------------*/
#work {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
}

@media (max-width: 660px),
  (max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #about {
    width: auto;
    height: auto;
    overflow: auto;
  }

  #about {
    display: block;
    font-size: 18px;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
    text-align: center;
  }

  #about > div {
    margin-left: 0;
    max-width: initial;
    min-width: initial;
  }

  #about-image-container {
    width: 100%;
  }

  #people {
    width: 100%;
    margin-left: 0;
  }

  .people-header {
    text-align: center;
  }

  #people > div {
    margin-bottom: 25px;
    margin-top: 25px;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }

  #about img {
    object-position: unset;
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  #work > div {
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }
}
