.handbook-mainheader {
  padding: 80px var(--gutter-size);
  max-width: 60%;
}

.handbook-mainheader h1 {
  font-size: 72px;
  margin-bottom: 15px;
  line-height: 0.7;
}

.handbook-mainheader h1 span {
  /* display: block; */
  /* margin-left: 25px; */
}

.handbook-horizontal-separator {
  display: block;
  height: 2px;
  width: 80px;
  background-color: #000;
  margin-top: 10px;
}

.handbook-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
  grid-gap: 25px;
  gap: 25px;
  grid-template-areas: "sidebar main";
  padding-left: 25px;
}

.handbook-wrapper h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.handbook-wrapper h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 42px;
  margin-top: 35px;
  margin-bottom: 8px;
}

.handbook-wrapper h4 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 14px;
}

.handbook-sidebar {
  grid-area: sidebar;
  align-self: start;
  padding-top: 35px;
  position: sticky;
  top: 0;
}

.handbook-sidebar-list {
  border-left: 2px solid var(--color-green);
  padding-left: 15px;
}

.handbook-content {
  padding-right: var(--gutter-size);
  padding-top: 25px;
}
.handbook-content section {
  margin-bottom: 60px;
  margin-top: 60px;
}

.handbook-content ul,
.handbook-content ol {
  list-style: disc;
  margin-left: 25px;
  margin-bottom: 15px;
}


@media (max-width: 660px),
(max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .handbook-mainheader {
    max-width: 100%;
  }

  .handbook-mainheader p {
    font-size: 14px;
    line-height: 26px;
  }

  .handbook-wrapper {
    display: block;
  }
  .handbook-sidebar {
    display: none;
  }
}
