.handbook-mainheader-content {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  padding: 80px 0 25px 0;
  text-align: center;
  width: 100%;
}

.handbook-horizontal-separator {
  background-color: #000;
  display: block;
  height: 2px;
  margin-top: 10px;
  width: 80px;
}

.handbook-wrapper {
  box-sizing: border-box;
  display: grid;
  gap: 25px;
  grid-gap: 25px;
  grid-template-areas: "main sidebar";
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  margin-bottom: 80px;
}

.handbook-sidebar {
  align-self: start;
  grid-area: sidebar;
  padding-top: 75px;
  position: sticky;
  text-align: right;
  top: 0;
  width: 260px;
}

.handbook-sidebar h3 {
  font-size: 14px;
  margin-bottom: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}

.handbook-sidebar-list {
  border-right: 2px solid var(--color-green);
  margin-bottom: 35px;
  padding-right: 15px;
}

.handbook-content h2 {
  margin-top: 55px;
}

.handbook-content h3 {
  margin-top: 45px;
}

.handbook-content h4 {
  margin-top: 30px;
}

@media (max-width: 660px),
(max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .handbook-mainheader-content {
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
    width: 100%;
  }

  .handbook-wrapper {
    display: block;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }

  .handbook-sidebar {
    display: none;
  }
}
