/* Håndbok
   -----------------------------------------------------------------------------*/
.handbok-column-2 h1 {
  font-size: 64px;
}

.handbok-column-2 h2 {
  font-size: 38px;
  line-height: 48px;;
  margin-top: 20px;
}

.handbok-column-2 h3 {
  font-size: 26px;
  line-height: 36px;
  margin-top: 20px;
}

.handbok-column-2 h4 {
  font-size: 22px;
}

.handbok-column-2 ul,
.handbok-column-2 ol {
  margin-bottom: 15px;
  margin-left: 25px;
}

.handbok-column-2 ul {
  list-style: disc;
}

.handbok-column-2 ol {
  list-style: digit;
}

.handbok {
  padding-top: 20px;
  padding-bottom: 60px;
}

.handbok-container {
  box-sizing: border-box;
  display: flex;
  margin: 120px auto 120px auto;
  max-width: var(--page-max-width);
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  padding-top: 30px;
  width: 100%;
}

.handbok-column-1 {
  flex: 1;
  max-width: 240px;
  min-width: 240px;
  margin-right: 45px;
}

.handbok-sidebar {
  padding-top: 50px;
  position: sticky;
  top: 0;
}

.handbok-sidebar nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  padding-bottom: 20px;
}

.handbok-sidebar nav:last-child {
  border-bottom: none;
}

.handbok-sidebar-more {
  font-weight: 600;
}
.handbok-sidebar-more a {
  color: #DA0F47;
}

.handbok-column-2 {
  flex: 2;
}

@media (max-width: 1080px) {
  .handbok-column-1 {
    max-width: 180px;
    min-width: 180px;
  }
}


.handbok-menu li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.handbok-menu li:last-child {
  border-bottom: none;
}

.handbok ul {
  list-style: disc;
  margin-left: 25px;
}

.handbok article {
  margin-top: 45px;
}

@media (max-width: 810px) {

  .handbok-container {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  .handbok-column-1 {
    max-width: 100%;
    min-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: -30px;
  }

  .handbok-sidebar-local-nav {
    display: none;
  }

  .handbok-column-2 {
    width: 100%;
  }
}
