.person-image {
  display: block;
  height: unset;
  width: 100%;
}

/* Person Overlay
--------------------------------------------------------------------*/
.person-overlay {
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.person .person-overlay {
  display: block;

  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0,
    rgba(0, 0, 0, 0.08) 5%,
    rgba(0, 0, 0, 0.07) 10%,
    rgba(0, 0, 0, 0.06) 20%,
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0.04) 40%,
    rgba(0, 0, 0, 0.03) 50%,
    rgba(0, 0, 0, 0.08) 60%,
    rgba(0, 0, 0, 0.3) 70%,
    rgba(0, 0, 0, 0.55) 80%,
    rgba(0, 0, 0, 0.6) 90%,
    rgba(0, 0, 0, 0.6) 95%,
    rgba(0, 0, 0, 0.7)
  );
}
/* END Person Overlay
--------------------------------------------------------------------*/

.person-information {
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 20px;

  position: absolute;
  bottom: 10px;
  left: 15px;
  right: 15px;
}

.person-information a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;

}

.person-information a:hover {
  color: #fff;
  text-decoration: underline;
}

.person-projects li:not(:last-child) {
  margin-right: 4px;
}

.person-projects li {
  display: inline-block;
}

.person-actions {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.person-actions li {
  display: inline-block;
}

.person-actions li:hover {
  opacity: 0.7;
}

.person-actions li:not(:last-child) {
  margin-right: 6px;
}

.person-actions a:not(:last-child) {
  margin-right: 4px;
}
