body {
  font-size: 17px;
  line-height: 32px;
  font-family: arial, sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p {
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
}
