#projects,
#about,
#work {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@import url("_frontpage_section_about.css");
@import url("_frontpage_section_people.css");
@import url("_frontpage_section_project.css");
@import url("_frontpage_section_work.css");
