#people {
  /* background-color: rgba(252, 251, 253); */

  overflow: auto;
}

#people h2 {
  width: 50%;
}

#people > div {
  box-sizing: border-box;
  margin: 120px auto 120px auto;
  max-width: 1280px;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  width: 100%;
}

#people-header {
  margin-bottom: 25px;
  text-align: left;
}

#people-list {
  column-count: 3;
  column-gap: 30px;
}

#people-list > li {
  box-sizing: border-box;
  break-inside: avoid;
  margin-bottom: 30px;
}

#people-list header {
  margin-bottom: 15px;
  position: relative;
}

.person-overlay {
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.person-information {
  color: #fff;
  display: flex;
  flex-direction: column;
  line-height: 20px;

  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.person-information a {
  color: #fff;
  /* font-family: "Natural Grotesk Light", arial, sans-serif; */
  font-weight: 200;
}

.person-image {
  height: unset;
  width: 100%;
  display: block;
}

.person-actions {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.person-actions a:not(:last-child) {
  margin-right: 4px;
}

#people-list header:not(:hover) .person-overlay {
  visibility: hidden;
  opacity: 0;
}

#people-list header:hover .person-overlay {
  display: block;

  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.31) 0,
    rgba(0, 0, 0, 0.3) 5%,
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0.18) 20%,
    rgba(0, 0, 0, 0.16) 30%,
    rgba(0, 0, 0, 0.14) 40%,
    rgba(0, 0, 0, 0.12) 50%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0.25) 90%,
    rgba(0, 0, 0, 0.31) 95%,
    rgba(0, 0, 0, 0.34)
  );
}

.projects li:not(:last-child) {
  margin-right: 4px;
}

.projects li {
  display: inline-block;
}
