#projects {
  background-color: #000;
  color: #fff;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--grid-gap-size);
  align-items: center;
}

#projects img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}

#projects > div {
  padding-right: var(--gutter-size);
}
