#page-people > div {
  box-sizing: border-box;
  margin-top: 140px;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);

  max-width: var(--page-max-width);
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (max-width: 660px),
(max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #page-people > div {
    margin-top: 100px;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }
}
