@import url("_reset.css");

:root {
  --gutter-size: 30px;
  --grid-gap-size: 50px;

  --spacer-large: 120px;
  --spacer-medium: 60px;
}

body {
  font-size: 17px;
  line-height: 32px;
  font-family: "Natural Grotesk", arial, sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p {
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
}
