@import url("_reset.css");
@import url("_fonts.css");

:root {
  --gutter-size: 30px;
  --gutter-size-mobile: 20px;

  --page-max-width: 1400px;

  --spacer-large: 120px;
  --spacer-medium: 60px;

  --color-green: #b7ff9f;
  --color-grey: #888;
}

body {
  font-size: 17px;
  line-height: 32px;
  font-family: arial, sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p {
  margin-bottom: 15px;
}

strong {
  font-weight: bold;
}


/* Typography
------------------------------------------------------------------------------*/
h1 {
  font-size: 42px;
  margin-bottom: 4px;
  line-height: 56px;
}

h2 {
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 4px;
  font-family: "Natural Grotesk Bold";
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px;
}


/* Menu Button
------------------------------------------------------------------------------*/
#menu-button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 32px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;

  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

#menu-button.dark-mode {
  color: var(--color-green);
}

.theme-dark #menu-button {
  color: #fff;
}

.no-scroll {
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}
