@import url("_reset.css");
@import url("_fonts.css");
@import url("_button.css");

:root {
  --gutter-size: 30px;
  --grid-gap-size: 50px;

  --spacer-large: 120px;
  --spacer-medium: 60px;

  --color-green: #b7ff9f;
  --color-grey: #888;
}

body {
  font-size: 17px;
  line-height: 32px;
  font-family: arial, sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: underline;
}

p {
  margin-bottom: 8px;
}

strong {
  font-weight: bold;
}


/* Typography
------------------------------------------------------------------------------*/
h1 {
  font-size: 42px;
  margin-bottom: 4px;
  line-height: 56px;
}

h2 {
  font-size: 64px;
  line-height: 72px;
  margin-bottom: 4px;
  font-family: "Natural Grotesk Bold";
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 4px;
}


/* Menu Button
------------------------------------------------------------------------------*/
#menu-button {
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
  font-size: 32px;
  height: 44px;
  padding-left: 10px;
  padding-right: 10px;

  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

#menu-button.dark-mode {
  color: var(--color-green);
}

.theme-dark #menu-button {
  color: #fff;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}










#page-project {
  background-color: #000;
  color: #fff;
}

#page-project header {
  max-width: 900px;
  margin: 0 auto;
  padding: 220px 30px 80px 30px;
  text-align: center;
}

#page-project header ul {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 30px;
}

#page-project > article {
  padding-bottom: 120px;
  width: 100%;
}

#page-project > article img {
  height: 60vh;
  margin-bottom: 25px;
  object-fit: cover;
  width: 100%;
}

#page-project > article > section {
  box-sizing: border-box;
  clear: both;
  padding: 60px 30px;
}

#page-project > article::after {
  content: "";
  display: table;
  clear: both;
}

.project-description-input,
.project-description-output {
  width: 46%;
}

.project-description-input {
  float: left;
}

.project-description-output {
  float: right;
}

.project-output {
  background-color: #1a1a1a;
  text-align: center;
}

.project-output > * {
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 550px) {
  .project-description-input,
  .project-description-output {
    float: none;
    width: 100%;
    text-align: center;
  }
}
