#main-header {
  background: #e8e7e6 url("../../assets/seismograf.svg") no-repeat center;
  background-color: #e8e7e6;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#main-header .logo {
  line-height: 1;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: var(--gutter-size);
}

#projects,
#about,
#work {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


/* About
------------------------------------------------------------------------------*/
#about {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#about-image {
  display: block;
  overflow: hidden;
}

#about > div {
  box-sizing: border-box;
  margin: 120px auto 120px auto;
  max-width: 1280px;
  padding: 60px var(--gutter-size) 60px var(--gutter-size);
}

#about img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}


/* People
------------------------------------------------------------------------------*/
#people {
  overflow: auto;
}

#people > div {
  box-sizing: border-box;
  margin: 120px auto 120px auto;
  max-width: 1280px;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  width: 100%;
}

#people h2 {
  width: 50%;
}

.people-header {
  margin-bottom: 25px;
  text-align: left;
}


/* Projects
------------------------------------------------------------------------------*/
#projects {
  background-color: #000;
  color: #fff;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--grid-gap-size);
  align-items: center;
}

#projects > div {
  padding-right: var(--gutter-size);
}

#projects img {
  height: 100vh;
  object-fit: cover;
  width: 100%;
}


/* Work
------------------------------------------------------------------------------*/
#work {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  text-align: center;
}

@media (max-width: 550px) {
  #projects,
  #about {
    width: auto;
    height: auto;
    overflow: auto;
  }

  #about {
    display: block;
    text-align: center;
  }

  #about > div {
    padding-right: var(--gutter-size);
  }

  #about img {
    margin-left: 0;
    height: 100%;
    width: 100%;
  }

  #projects {
    display: block;
    text-align: center;
  }

  #projects img {
    height: 280px;
  }

  #projects > div {
    padding: 60px var(--gutter-size);
  }

  .project-description {
    padding: 25px 25px 120px 25px;
  }

  #main-header .logo {
    height: auto;
    width: 200px;
  }
}
