.project-ingress {
  display: flex;
  justify-content: space-between;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

.project-ingress p {
  width: 60%;
}

.project-link {
  color: #fff;
  border-bottom: 4px solid var(--color-green);
  text-decoration: none;
}

.project-link:hover {
  color: #fff;
  border: none;
  text-decoration: none;
}
