.project-ingress {
  display: flex;
  justify-content: space-between;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

.project-ingress p {
  width: 60%;
}

.project-link {
  color: #fff;
  border-bottom: 4px solid var(--color-green);
  text-decoration: none;
}

.project-link:hover {
  color: #fff;
  border: none;
  text-decoration: none;
}

.project-tile--image {
  height: 55vh;
  margin-bottom: 25px;
  object-fit: cover;
  width: 100%;
}


@media (max-width: 660px) {
  .project-ingress {
    display: block;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
    text-align: left;
  }

  .project-ingress h3,
  .project-ingress p {
    text-align: center;
  }

  .project-ingress h3 {
    margin-bottom: 15px;
  }

  .project-ingress p {
    width: 100%;
  }
}
