.people-list {
  column-count: 3;
  column-gap: 30px;
}

.people-list > li {
  box-sizing: border-box;
  break-inside: avoid;
  margin-bottom: 30px;
}

.people-list header {
  margin-bottom: 15px;
  position: relative;
}

@media (max-width: 900px) {
  .people-list {
    column-count: 2;
  }
}

@media (max-width: 660px) {
  .people-list {
    column-count: 1;
  }
}
