#menu:not(.menu--opened) {
  visibility: hidden;
  z-index: -1;
}

#menu {
  height: 100;
  overflow: hidden;
  transition: visibility 0.2s ease-in-out 0.1s, z-index 0.2s ease-in-out 0.1s;
  width: 100vw;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

#menu a {
  text-decoration: none;
}

#menu a:hover {
  text-decoration: underline;
}

/* Menu Hero
------------------------------------------------------------------------------*/
.menu-hero {
  transition: left 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.menu-hero {
  position: absolute;

  box-sizing: border-box;
  padding-top: 25px;
  height: 100%;

  background-color: #efefef;

  width: calc(100vw - 380px);
  left: calc(-100vw - 380px);
  right: 100%;
  bottom: 0;
  top: 0;
  background-image: url("/static/photos/EOSR7735.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menu--opened .menu-hero {
  left: 0;
}

.menu-hero-overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
}

.menu-hero-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 30%;
}

/* Menu content
------------------------------------------------------------------------------*/
.menu-content,
.menu--opened .menu-content {
  transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.menu-content {
  background-color: #efefef;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  padding-bottom: 15px;
  padding-top: 55px;
  width: 0;

  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
}

.menu--opened .menu-content {
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
  width: 380px;
}

.menu-content a {
  line-height: 32px;
}

.menu-navigation {
  margin-bottom: 35px;
}

.menu-change-language {
  margin-top: 20px;
  margin-left: -4px;
}

/* Menu Footer
------------------------------------------------------------------------------*/
.menu-footer {
  font-size: 14px;
}

/* Menu Footer - Links
------------------------------------------------------------------------------*/
.menu-footer-links {
  border-top: 1px solid #ddd;
  font-size: 12px;
  margin-top: 25px;
  width: 100%;
}

.menu-footer-links::after {
  content: "";
  display: table;
  clear: both;
}

.menu-list-languages,
.menu-list-booring {
  line-height: 38px;
}

.menu-list-languages li,
.menu-list-booring li {
  display: inline-block;
  position: relative;
}

.menu-list-languages {
  float: right;
}

.menu-list-languages li:not(:first-child) {
  margin-left: 15px;
}

.menu-list-languages li:not(:first-child)::before {
  color: #888;
  content: "• ";
  position: absolute;
  font-size: 9px;
  left: -9px;
}

.menu-list-languages a {
  display: block;
  line-height: 38px;
}

.menu-list-booring {
  float: left;
}

.menu-list-booring li:not(:first-child) {
  padding-left: 10px;
}

.menu-list-booring li:not(:first-child)::before {
  color: #888;
  content: "• ";
  padding-right: 6px;
}

.icon-flag {
  width: 32px;
  margin: 4px;
  cursor: pointer;
}

/* Menu Headings
------------------------------------------------------------------------------*/

#menu h4,
#menu h5 {
  color: #888;
}

#menu h4 {
  font-size: 22px;
  margin-bottom: 12px;
}

@media (max-width: 660px) {
  .menu-hero {
    display: none;
  }

  .menu--opened .menu-content {
    overflow-y: scroll;
    width: 100%;
  }
}
