#page-project {
  background-color: #000;
  color: #fff;
}

#page-project > article {
  padding-bottom: 120px;
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#page-project > article > section {
  box-sizing: border-box;
  clear: both;
  padding: 60px var(--gutter-size);
}

#page-project > article > section::after {
  display: table;
  content: " ";
  clear: both;
}

#page-project > article::after {
  content: "";
  display: table;
  clear: both;
}

#page-project article img {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 15px;
}

.project-description-input,
.project-description-output {

  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.project-description-input {
  /* margin-left: 55px; */
  /* max-width: 680px; */
}

.project-description-output {
  /* max-width: 580px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.project-output {
  background-color: #1a1a1a;
  text-align: center;
}

.project-output > * {
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 660px),
(max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #page-project header {
    padding-top: 100px;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }

  #page-project > article > section {
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }

  .project-description-input,
  .project-description-output {
    width: 100%;
  }

  .project-description-input {
    margin-left: 0;
  }
}
