#page-projects {
  background-color: #000;
  color: #fff;
  overflow: auto;
  padding-left: var(--gutter-size);
  padding-right: var(--gutter-size);
}

#page-projects header {
  max-width: 900px;
  margin: 0 auto;
  padding: 220px 30px 80px 30px;
  text-align: center;
}

#page-projects > article {
  max-width: 1600px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
}

#page-projects > article img {

}

.project-image--header {
  height: 50vh;
  margin-bottom: 25px;
  object-fit: cover;
  width: 100%;
}

.project-image--floatRight {
  float: right;
  width: 40%;
}

.project-image--floatLeft {
  float: left;
  width: 45%;
}


.project-description-input {

}

.project-quote {
  margin-top: 15px;
  margin-bottom: 15px;
}
.project-quote--content {
  border-left: 10px solid var(--color-green);
  padding-left: 25px;
  margin-top: 15px;
}

.project-quote--author {
  text-align: right;
  display: block;
  font-size: 14px;
  color: var(--color-grey);
}


@media (max-width: 550px) {
  #page-projects {
    padding: 0;
  }

  #page-projects > article img {
    height: 50vh;
  }

  .project-ingress {
    display: block;
    text-align: left;
  }

  .project-ingress h3,
  .project-ingress p {
    text-align: center;
  }

  .project-ingress h3 {
    margin-bottom: 15px;
  }

  .project-ingress p {
    width: 100%;
  }
}
