.sentence {
    display: flex;
    align-items: center;
    font-size: 64px;
    margin: 10px 0;
}
  
.animated-word {
    display: inline-block;
    margin-left: 5px;
    animation: slide 4s infinite;
}

.singleSlide {
    display: inline-block;
    margin-left: 5px;
    animation: slide 4.5s;
}

.animated-word-reversed {
    display: inline-block;
    margin-left: 5px;
    animation: slideBackwards 4s infinite ;
}

.pink-text {
    color: var(--color-new-pink);
}

.green-text {
    color: var(--color-new-green);
}
  
@keyframes slide {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
}

@keyframes slideBackwards {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
}