.logo-reel-container {
  height: 115px;
  width: 100%;
  overflow: hidden;
  background-color: #fad5d5;
  display: flex;
  justify-content: center;
  position: relative; /* Ensure the container's children are positioned relatively to it */
}

.logo-reel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation: scroll 180s linear infinite;
  width: fit-content;
  transform: translate3d(0, 0, 0); /* Engage GPU rendering */
  will-change: transform;
}

.logo {
  position: relative;
  width: 140px;
  height: auto;
  margin: 0 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}