.projectHeader__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 220px var(--gutter-size) 80px var(--gutter-size);
  text-align: center;
}

.projectHeader__image {
  display: block;
  height: 50vh;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-max-width);
  object-fit: cover;
  width: 100%;
}

.projectHeader__technologies {
  color: var(--color-grey);
  font-size: 14px;
  margin-bottom: 15px;
  margin-left: 0;
}

.projectHeader__technologies li {
  list-style: none;
  display: inline;
}


@media (max-width: 660px),
(max-device-width: 850px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .projectHeader__content {
    padding-top: 100px;
    padding-left: var(--gutter-size-mobile);
    padding-right: var(--gutter-size-mobile);
  }
}
