.career-calculator-section {
  background-color: var(--color-grey);
  padding-bottom: 55px;
  padding-top: 55px;
}

.career-mainheader {
  margin-top: 150px;
}

.career-mainheader h1 {
  font-size: 90px;
  line-height: 1;
  text-transform: uppercase;
}

.career-mainheader img {
  height: auto;
  margin-left: -150px;
  margin-right: 45px;
  margin-top: 35px;
  width: 550px;
}

.career-mainheader-content {
  display: flex;
  justify-content: space-between;
}

.career-mainheader-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 660px) {
  .career-mainheader h1 {
    font-size: 38px;

  }
  .career-mainheader-content {
    display: block;
  }

  .career-mainheader img {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 25px;
    width: 100%;
  }
}
